name: hello-world

on: push

jobs:
  my-job:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Say Hello
        run: echo "Hello World!"

      - name: Install OpenMPI
        run: |
          sudo apt-get update
          sudo apt-get install -y openmpi-bin libopenmpi-dev
          sudo which mpirun 
          sudo which mpicc
          pwd
          ls

      - name: Compile MPI program
        run: |
          mpicxx t1.cpp -o t_mpi

      - name: Run MPI program
        run: |
          mpirun -np 4 ./t_mpi
        
